.container {
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 100px auto;
  width: 800px;
  padding: 50px 10px;
  border: 5px solid #3b7691;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #316177;
  background-image: linear-gradient(to top, #ace0f9 0%, #3b7691 100%);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 75px;
  position: relative;
  left: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: left;
  line-height: 40px;
  text-transform: capitalize;
}
h2 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}
h3 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.info {
  margin: 0 auto;
  text-align: center;
}
.search2,
.search {
  background: #fff1eb;
}
.search2:hover,
.search:hover {
  background: #3b7691;
  color: #fff;
}

.now {
  position: relative;
  left: 50px;
  text-align: right;
  margin-bottom: 50px;
  width: 150px;
  display: inline-block;
}

small {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
}

#c-link,
#f-link {
  color: #000000;
  cursor: default;
}

#f-link:hover,
#c-link:hover {
  text-decoration: none;
}
ul {
  list-style-type: "none";
}
