.App {
  text-align: center;
  display: block;
  margin: 100px auto;
  width: 750px;
  padding: 50px 10px;
  border: 5px solid #3b7691;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #316177;
  background-image: linear-gradient(to top, #ace0f9 0%, #3b7691 100%);
}

.App h1 {
  font-family: "Dancing Script", cursive;
  font-size: 75px;
  left: 50px;
  line-height: 75px;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
}
h2 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}
h3,
h4 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.info {
  margin: 0 auto;
  text-align: center;
}

.searchCity {
  background: #fff1eb;
  margin: auto;
  display: inline-block;
}

.searchCity:hover {
  background: #3b7691;
  color: #fff;
}

.me {
  font-size: 18px;
  text-align: center;
  display: block;
  margin: auto;
}

#c-link,
#f-link {
  color: #000000;
  cursor: default;
}

#f-link:hover,
#c-link:hover {
  text-decoration: none;
}
ul {
  display: block;
  font-size: 25px;
  margin: auto;
  list-style-type: none;
  text-transform: capitalize;
}
.App img {
  padding: 10px;
  margin: auto;
}
